.header{
    width: 100%;
    color: white;
    background: #000000;
}

.header-name{
    width: 100%;
    font-size: 48px;
    margin-left: auto;
    margin-right: auto;
}

.menu{
    width: 100%;
    height: 16px;
}

.main{
    position: relative;
    font-size: 32px;
    font-style: italic;
}

.main > p{
    color: red;
}

.footer{
    width: 100%;
    background: #000000;
    bottom: 0px;
}

.copyright{
    color: white;
    height: 70px;
}